/***************************/
/***  Table of Contents ****/
/***************************/
/*****  1.0 Global   *******/
/*****  2.0 Fonts   ********/
/*****  3.0 Hero   *********/
/*****  4.0 Animation   ****/
/*****  5.0 Navigation   ***/
/*****  6.0 Scroll Bar   ***/
/*****  7.0 Images   *******/
/*****  8.0 lightbox  ******/
/*****  9.0 Modal  *********/
/*****  10.0 Placement  ****/
/*****  11.0 Buttons  ******/
/*****  12.0 Mobile  *******/
/***************************/

/***************************/
/******  1.0 Global   ******/
/***************************/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  scroll-behavior: smooth;
  cursor: url("./images/mouse-one.cur"), auto;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  text-decoration: none;
}

::-moz-selection { background: #ffbb4e;}
::selection { background: #ffbb4e;}

/***************************/
/*****  2.0 Fonts   ********/
/***************************/

h1,h2,h3,p,a{
  font-family: 'Courier Prime', monospace;
  font-weight: lighter;
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  padding: 25px;

}
h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;
  -webkit-animation: slideIn ease 1.5s;
          animation: slideIn ease 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

a,p {
  font-size: 1.2em;
  text-decoration: none;
}


/***************************/
/*****  3.0 Hero   *********/
/***************************/

header {
  text-align: center;
}

header img {
  width: 80%;
  border-radius: 35px 5px 5px 5px;
  max-width: 600px;
  -webkit-box-shadow: 15px 15px 0px -1px #ffbb4e;
  box-shadow: 15px 15px 0px -1px #ffbb4e;
}

/***************************/
/*****  4.0 Animation   ****/
/***************************/


/* for job title*/

@-webkit-keyframes slideIn {
  0% { opacity: 0; margin-left: -250px; }
  40% { opacity: 0; margin-left: -250px; }
  100% { opacity: 1;}
}

@keyframes slideIn {
  0% { opacity: 0; margin-left: -250px; }
  40% { opacity: 0; margin-left: -250px; }
  100% { opacity: 1;}
}

/* for navigation logo */

@-webkit-keyframes logo {
  0% { opacity: 0;}
  80% { opacity: 0; margin-top: -70px; }
  100% { opacity: 1; }
}

@keyframes logo {
  0% { opacity: 0;}
  80% { opacity: 0; margin-top: -70px; }
  100% { opacity: 1; }
}

/***************************/
/*****  5.0 Navigation   ***/
/***************************/

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
nav a {
  display: block;
  cursor: url("./images/mouse-two.cur"), auto;
  padding: 30px;
  float: left;
  -webkit-animation: logo ease 2s;
          animation: logo ease 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

nav img{
  max-width: 30px;
}

nav img:hover{
  filter: grayscale(100%);
}


/***************************/
/*****  6.0 footer  ***/
/***************************/

.one,
.two,
.three,
.four {
  cursor: url("./images/mouse-two.cur"), auto;
}
.one {
  background-color: #1d7874;
}
.two {
  background-color: #ffbb4e;
}


footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 4px;
  background-color: #ffbb4e;
}

.icon-footer{
  padding: 10vh 0;
  text-align: center;
  cursor: url("./images/mouse-two.cur"), auto;
}

.icon-footer img{
  padding: 0px 20px;
  filter: invert(.60);
  cursor: url("./images/mouse-two.cur"), auto;
}

.icon-footer img:hover{
  filter: invert(1);
}

/***************************/
/***  8.0 scroll bar   *****/
/***************************/

body::-webkit-scrollbar {
  display: none;
}

body{
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.lightbox::-webkit-scrollbar {
  display: none;
}
.lightbox{
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

/***************************/
/*****  7.0 Images   *******/
/***************************/

img {
  max-width: 100%;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.gallery {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2%;
}

.gallery:hover {
  cursor: url("./images/mouse-one.cur"), auto;
  border-radius: 15% 2% 2% 2%;
  opacity: 0.8;
}

/***************************/
/*****  9.0 Lightbox  ******/
/***************************/

.lightbox {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  background: #1a1a1a;
  z-index: 4;
  overflow: auto;
  overflow-x: hidden;
  color: white;
  font-weight: 300;
}

.lightbox img,
.lightbox video {
  margin: auto;
  margin-top: 5vh;
  display: block;
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px;
}

.lightbox:target {
  outline: none;
  display: block;
}

.exit-lightbox {
  /* top: 3vh; */
  right: 0;
  padding: 50px;
  z-index: 10;
  position: absolute;
  font-size: 2.5em;
  color: #ffbb4e;
  font-weight: bold;
  cursor: url("./images/mouse-two.cur"), auto;
}

.exit-lightbox:hover {
  color: #ffffff;
}

.lightbox-footer{
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 4px;
  background-color: #ffbb4e;
}

.space{
  height: 100px
}
/***************************/
/*****  10.0 Placement  ****/
/***************************/

body{
  background-color: #131313;
}

.color{
  background-color:#1a1a1a;
}

.arrow-dark {
  text-align: center;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 50px 0px 50px;
  border-color: #1a1a1a transparent;
}

.arrow-light{
  text-align: center;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 50px 0px 50px;
  border-color: #131313 transparent;
}

/***************************/
/*****  11.0 Buttons  ******/
/***************************/

.button {
  border-style:solid;
  border-width: thin;
  border-color: #ffbb4e;
  cursor: url("./images/mouse-two.cur"), auto;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 50px!important;
  padding: 10px 0;
  transition: 0.2s;
}

.button:hover{
  border-radius: 30px 5px 5px 5px;

}

.button a{
  color: white;
  cursor: url("./images/mouse-two.cur"), auto;
}

/***************************/
/*****  11.0 Mobile  *******/
/***************************/

@media only screen and (max-width: 900px) {

  header img {
    width: 70%;
    border-radius: 25px 5px 5px 5px;
    -webkit-box-shadow: 10px 10px 0px -1px #ffbb4e;
    box-shadow: 10px 10px 0px -1px #ffbb4e;
  }

  nav a {
    padding:20px 0 10px 20px;
  }
  
  nav{
    background-color: #2f373a;
  }
  nav img{
    max-width: 25px;
  }

  .exit-lightbox {
    padding: 30px;
  }

}